<template>
    <div>
    <MainNav v-if="!$route.meta.hideNavigation"></MainNav>
    <NoNav v-if="$route.meta.hideNavigation"></NoNav>
    </div>
</template>
<script>
    import MainNav from './MainNav'
    import NoNav from './NoNav'

    export default {
        name: 'App',
        components: {
            MainNav,
            NoNav
        }
    }
</script>
