<template>
    <p>Hell there {{role}}</p>
</template>
<script>
    export default {
        data() {
            return {
                users:[],
                role:''
            }
        },
        created() {
           this.role=localStorage.getItem('role');
        },
    }
</script>
