<template>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Staff</h4>
            <p class="text-danger text-center"><strong>NOTE:</strong>New user will use their phone number to set their passwords at the login page</p>
            <form class="form-sample"  v-on:submit.prevent="register()" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="text" v-model="message.fname" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" v-model="message.lname" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-9">
                                <select class="form-control" v-model="message.gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" v-model="message.email" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phone Number</label>
                            <div class="col-sm-9">
                                <input type="text" v-model="message.phone" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" v-model="message.title" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="/images/logo.jpeg" id="blah" alt="Image Selected" class="img-thumbnail" style="width: 30%">
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Photo</label>
                            <div class="col-sm-9">
                                <input type="file"  class="form-control"  v-on:change="onImageChange"  onchange="readURL(this)"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-sm-3">
                        <button type="submit" id="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                record:false,
                message:{},
                avatar:''
            }
        },
        methods: {
            register() {
                let formData = new FormData();
                formData.append('avatar', this.avatar);
                formData.append('fname', this.message.fname);
                formData.append('lname', this.message.lname);
                formData.append('gender', this.message.gender);
                formData.append('title', this.message.title);
                formData.append('email', this.message.email);
                formData.append('phone', this.message.phone);

                loadbutton('submit');
                this.axios.post('/api/auth/adduser', formData,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then((response) => {
                    stopbutton('submit','Submit');
                    if(response.data.status){
                        this.$fire({type: "success",text: response.data.message});
                        this.$router.push({name: 'users'});
                    }else{
                        this.$fire({type: "warning",text: response.data.message});
                    }
                }).catch(error => {
                    stopbutton('submit','REGISTER')
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$fire({type: "warning",text: 'Please login'});
                    }else{
                        this.$fire({type: "error",text: 'Invalid data or system error'});
                    }

                });

            },
            onImageChange(e){
                this.avatar = e.target.files[0];
                console.log(this.avatar);
            },

        }
    }
</script>
