<template>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">STAFFS</h4>
            <p class="card-description float-right" v-if="role==='admin'">
                <router-link href="#" :to="{ name: 'addusers' }" class="btn btn-primary btn-sm">Add Staff</router-link>
            </p>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            First name
                        </th>
                        <th>
                            Last name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                            Status
                        </th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="post in users" :key="post.id">
                        <td>{{post.id}}</td>
                        <td>{{post.fname}}</td>
                        <td>{{post.lname}}</td>
                        <td>{{post.email}}</td>
                        <td>{{post.phone}}</td>
                        <td>{{post.gender}}</td>
                        <td>{{post.title}}</td>
                        <td  v-if="post.role==='admin'" class="text-primary text-capitalize">{{post.role}}</td>
                        <td  v-if="post.role==='user'" class="text-warning text-capitalize">{{post.role}}</td>
                        <td  v-if="post.status==='Active'" class="text-success text-capitalize">{{post.status}}</td>
                        <td  v-if="post.status==='Inactive'" class="text-danger text-capitalize">{{post.status}}</td>
                        <td v-if="role==='admin'"><router-link :to="{name: 'editusers', params: { id: post.id }}" class="btn btn-info btn-sm mdi mdi-lead-pencil" >Edit</router-link> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                users:[],
                role:'',
            }
        },
        created() {
            this.role=localStorage.getItem('role');
            this.axios.get('/api/auth/getUsers',{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                this.users = response.data;
            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$fire({type: "warning",text: 'Please login'});
                }else{
                    this.$fire({type: "error",text: 'Server error'});
                }
            });
        },
    }
</script>
