<template>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo row justify-content-center">
                                <img src="/images/logo2.png" alt="logo">
                            </div>
                            <h6 class="font-weight-light">Please enter phone number.</h6>
                            <p class="text-warning text-center">You will receive OTP code in your phone </p>
                            <form class="pt-3"  v-on:submit.prevent="login()">
                                <div class="form-group">
                                    <input type="text" v-model="message.phone" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Phone Number">
                                </div>
                                <div class="mt-3">
                                    <button type="submit" id="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SEND CODE</button>
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">

                                        </label>
                                    </div>
                                    <router-link :to="{ name: 'login' }" class="auth-link text-black">Login?</router-link>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</template>
<script>
    export default {
        data(){
            return {
                record:false,
                message:{},
            }
        },
        methods: {
            login() {
                loadbutton('submit');
                this.axios.post('/api/auth/getotp', this.message).then((response) => {
                    stopbutton('submit','SEND CODE')
                    if(response.data.status){
                        this.$fire({type: "success",text: response.data.message});
                        localStorage.setItem('phone', response.data.phone);
                        localStorage.setItem('code', response.data.code);
                        localStorage.setItem('name', response.data.user.fname);
                         this.$router.push({name: 'verify'});
                    }else{
                        this.$fire({type: "warning",text: response.data.message});
                    }
                }).catch(error => {
                    this.$fire({type: "error",text: 'Invalid data or System error'});
                });

            },

        }
    }
</script>
