<template>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo row justify-content-center">
                                <img src="/images/logo2.png" alt="logo">
                            </div>
                            <h6 class="font-weight-light text-center">Sign in to continue.</h6>
                            <p class="text-warning text-center">Click <strong>Set password</strong> down the page if you are a new user</p>
                            <form class="pt-3"  v-on:submit.prevent="login()">
                                <div class="form-group">
                                    <input type="text" v-model="message.email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" v-model="message.password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div class="mt-3">
                                    <button type="submit" id="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN IN</button>
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" v-model="message.remember_me" class="form-check-input">
                                            Keep me signed in
                                        </label>
                                    </div>
                                    <router-link :to="{ name: 'getotp' }" class="auth-link text-black">Set password?</router-link>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</template>
<script>
    export default {
        data(){
            return {
                record:false,
                message:{},
            }
        },
        methods: {
            login() {
              loadbutton('submit');
                this.axios.post('/api/auth/login', this.message).then((response) => {
                    stopbutton('submit','LOGIN');
                    if(response.data.status){
                        localStorage.setItem('token', response.data.access_token);
                        localStorage.setItem('name', response.data.user.fname);
                        localStorage.setItem('role', response.data.user.role);
                        this.$router.push({name: 'home'});
                        this.$router.go();
                    }else{
                        this.$fire({type: "warning",text: response.data.message});
                        localStorage.removeItem('token');
                    }
                }).catch(error => {
                    this.$fire({type: "error",text: 'Invalid data or system error'});
                    localStorage.removeItem('token');
                    stopbutton('submit','LOGIN');
                });

            },

        }
    }
</script>
